.lista {
    list-style: none;
}
.itens-header {
    background-color: #04C4D9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 70px;
}

.itens-header li a {
    font-style: normal;
    text-decoration: none;
    color: black;
}

.dropdown-menu a {
    font-style: normal;
    text-decoration: none;
    color: black;
}

.itens-header li a:hover {
    color: #023059;
    text-decoration: dashed;
    font-style: italic;
}

.itens-header li h4 {
    font-size: 16px;
}

.header-baixo {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 1px 1px 0px 0px black;
    justify-content: space-between;
    margin-left: 25px;
    /* background-color: black; */
}

.logo {
    width: 100px;
    height: 100px;
    margin-top: -30px;
}

.img {
    display: flex;
    flex-direction: row;
}

.barra-pesquisa {
    background-color: black;
    width: 900px;
    height: 50px;
}

.form-control {
    width: 700px;
}

.d-flex {
    margin-top: -30px;
}

.main-cima {
    /* background-color: black; */
    /* width: 100%; */
    /* height: 200px; */
}

.dropdown-toggle {
    width: 150px;
}

.carrinho {
    /* margin-left: 20px; */
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    /* border: solid 0.1px; */
}

.bi-cart-fill {
    font-size: 20px;
    color: black;
}

a {
    font-style: normal;
}

.bi-arrow-left {
    font-size: 30px;
    color: black;
}

.bi-arrow-left a:hover {
    cursor: pointer;

}

.bi-search {
    font-size: 20px;
    color: black;
}

.bi-geo-alt-fill {
    font-size: 20px;
}

.bi-house-door-fill {
    font-size: 20px;
}

.bi-briefcase-fill {
    font-size: 20px;
}

.mapa {
    margin-left: 48%;
    top: 90px;
    margin-top: -700px;
    height: 70px;
    width: 50%;
    
}

.bi-receipt {
    font-size: 30px;
    margin-left: 93%;
    margin-bottom: 40px;
}

.bi-receipt a:hover {
    cursor: pointer;
}

.bi-person-circle {
    font-size: 30px;
}

.endereco{
    margin: 45px;
    display: flex;
    height: 45px;
  }

.endereco input {
    border-radius: 10px;
    border: 1px solid #000000;
    height: 45px;
  }


.container01 {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, 0.2);
    margin: 30px;
    padding: 25px;
    width: 550px;
    top: 40px;
    cursor: pointer;
}

hr {
    width: 37%;
}

.container01:hover {
    transform: translateX(10px)scale(1.1)rotate(-0deg);
    transform: translateY(10px)scale(1.1)rotate(-0deg);
}

@media(min-width: 768px) {
    #form-container {
        margin: 50px auto;
        padding: 50px;
    }
}

@media(min-width: 768px) {
    .btn.btn-primary {
        width: auto;
    }
}


/* FOOTER */
.footer{
    background-color: #04C4D9;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 42%;
}

.footer h4{
    font-size: 11px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer span{
    color: rgb(18, 108, 18);
}

.footer img{
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer i{
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    color: black;
}

.icone-zap i:hover {
    color: green;
}

.icone-zap {
    text-decoration: none;
}

.icone-insta i:hover {
    color: purple;
}

.icone-insta {
    text-decoration: none;
}

.icone-twitter {
    text-decoration: none;
}

.icone-twitter i:hover {
    color: blue;
}
